$primary-color: #8065ff;
$secondary-color: #33334f;
$logo-extra-color: #fe655f;
$text-light-color: #e5e5e5;
$text-light-color-2: #373737;
$primary-green-color: #28958e;
$primary-blue-color: #286795;
$rare-ash: #c4c4c4;

// lengths
$site-wide-padding: 4rem 6rem 0 6rem; // for large screens i.e default
$site-wide-padding-sm: 0.8rem 0.95rem;
// shadows
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
